@import '~bootstrap/scss/variables';

$body-bg:                   #4d4d4d;
$body-color:                #e6e6e6;

$link-hover-color: lighten($link-color, 15%);

$enable-gradients: true;

$font-family-base: 'Open Sans', sans-serif;
$headings-font-family: 'Paytone One', sans-serif;
$headings-font-weight: 400;
