@import '~bootstrap/scss/variables';

// $text-muted: #cc00cc;

$body-bg:                   #4d4d4d;
$body-color:                #e6e6e6;

// $text-muted: #cc00cc;

// $link-color: theme-color($pink);
$link-hover-color: lighten($link-color, 15%);

$enable-gradients: true;
